extends ../layout

block content
  h1= title
  include ../messages.jade
  form(method='POST', action=action, role='form')

    div.form-group
      label Title
        input.form-control(name='pasta[title]', value=pasta.title)
    div.form-group
      label Code
        textarea.form-control(name='pasta[code]')
          = pasta.code
    div.form-group
      label Private
        select(name='pasta[private]')
          option(selected=pasta.private === 'true', value='true') True
          option(selected=pasta.private !== 'true', value='false') False
          
    button.btn.btn-primary(type='submit') Save
